body{
    background-color: #dbe4ee;
}

.cookie-regular {
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
}

.raleway-uniquifier{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.container-date, .container-name {
    font-family: "Cookie", cursive;
  display: flex; 
  justify-content: center;
margin-top: 10px;
  
}
.decorative-lines {
  display: inline-block;
  position: relative;
  padding: 0 140px;
  color: #054a91;
}
.decorative-lines::before,
.decorative-lines::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100px;
  height: 1px;
  background: currentColor;
  transform: translateY(-50%);
}
.decorative-lines::before { left: 0; }
.decorative-lines::after  { right: 0; }


.name{
    color: #054a91;
    
}

.name {
  text-align: center;
  position: relative;
  display: inline-block;
  margin-top: -25px;
}

.name::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: 2px auto 0;
background: currentColor;
  transform: translateY(-50%);
  border-radius: 3px;
}

/* Formatos*/

.titulo-grupo, .title-fiesta, .title-count, .title-galery{
  font-family:"Raleway", sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}

.texto-invitacion, .mensaje-grupo, .texto-galeria, .text-fiesta, .text-regalo{
   font-family: "Raleway", sans-serif;
   font-size: 20px;
   text-align: center;
}



/* Reloj cuenta regresiva */

.container-count {

    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    
    /* Ajustamos el padding para que el contenido no toque los bordes */
    padding: 3rem 1rem; 
    font-family: "Raleway", sans-serif;
    
    /* Limpiamos bordes y sombras duplicadas */
    border-radius: 0; 
    box-shadow: none; 
}

.circle-wrapper {
    /* Define el tamaño del círculo (width y height deben ser iguales) */
    width: 60vw;
    height: 60vw;
    max-width: 900px;  
    max-height: 900px;
    
    /* Convierte el contenedor en un círculo */
    border-radius: 50%;
    
    /* Propiedades visuales del círculo */
    background: #f0f0f0; /* Fondo del círculo */
    border: 5px solid #054a91; /* Borde visible del círculo */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    
    /* Centrar el círculo en la página */
    margin: 50px auto; 
    
    /* Usar Flexbox para centrar el .container-count dentro del círculo */
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: var(#054a91);
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
}

/* Estilos del Reloj  */

.countdown {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 620px; 
    margin: 0 auto;
}

.img-fondo {
    width: 100%;
    height: auto;
    display: block;
}

.numeros-overlay {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 70%; 
}

.time-group {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.card {
    background: rgba(255, 255, 255, 0.8); 
    border: 1px solid var(--card-border);
    border-radius: 15px;
    padding: 10px;
    min-width: 70px;
    text-align: center;
    backdrop-filter: blur(5px); 
}
.card .value {
    font-size: 1.8rem;
    line-height: 1;
}

.card .label {
    font-size: 10px;
}

/* --- ESTILOS DEL CORAZÓN --- */
.corazon {
    
    margin-top: 2rem; 
    margin-bottom: 2rem; 
    
    animation: latido 1s infinite;
    background-color:#054a91;
    display: inline-block; /* Importante para que el margen funcione bien */
    height: 24px;
    transform: rotate(-45deg);
    width: 24px;
}

.corazon:before,
.corazon:after {
    content: "";
    background-color: #054a91;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    position: absolute; /* Estos sí necesitan position: absolute respecto a .corazon */
}

.corazon:before {
    top: -12px;
    left: 0;
}

.corazon:after {
    left: 12px;
    top: 0;
}

@keyframes latido {
    0% {
        transform: scale(1) rotate(-45deg);
    }
    20% {
        transform: scale(1.25) rotate(-45deg);
    }
    40% {
        transform: scale(1.5) rotate(-45deg);
    }
    /* Añadimos un paso de regreso para un latido más natural */
    60% {
        transform: scale(1.25) rotate(-45deg);
    }
    80% {
        transform: scale(1.1) rotate(-45deg);
    }
    100% {
        transform: scale(1) rotate(-45deg);
    }
}

@media (max-width: 600px) {
    :root {
        --size-days: 40px;
        --size-hours: 34px;
        --size-minutes: 28px;
        --size-seconds: 24px;
    }
    
    .days-card {
        margin-left: auto;
        margin-right: auto;
    }
}


/* GRUPO DE INVITADOS  */

.grupo-de-invitados {
  background-color: #fff;
  text-align: center; 
  padding: 20px 0; 
  margin: 0 auto; 
  padding-top: 100px;
  padding-bottom: 100px;

}
.pases-total{
  width: 90px; 
  height:90px;
  border-radius: 50%; 

    background-color: #054a91;
    color: #fff;
  
    display: flex;
    justify-content: center; 
    align-items: center; 

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    /* Estilo del texto */
    font-size: 40px;
    font-weight: bold;
}
.lista-invitados {
    list-style: none;
    padding: 0;
    margin: 30px auto; 
    width: 100%;
    max-width: 350px; 
    
    /* Usamos Flexbox para centrar las cajas internamente si no ocupan todo el ancho */
    display: flex;
    flex-direction: column;
    align-items: center; 
}

/* 2. Estilo de Cada Invitado (Caja Rectangular) */
.invitado-item {
    background-color: #dbe4ee;
    border: 1.5px solid  #C1C1C1; 
    border-radius: 8px;
    margin: 10px;
    font-family:"Raleway", sans-serif;
    
    /* Espaciado interno y color */
    padding: 12px 20px;
    color:  #054a91;
    font-weight: 500;
    
    /* Dimensiones y espaciado externo */
    width: 100%; 
    max-width: 350px; 
    text-align: center; 
    
    margin-bottom: 15px; 
}

/*Ceremonia*/

.titulo-ceremonia{
font-family: "Cookie", cursive;
  font-size: 50px;
  color: #054a91;
}

.contenedor-columnas {
  display: flex;
  flex-wrap: wrap; 
  gap: 30px; 
  justify-content: center;
  padding: 40px 20px;
  max-width: 1200px; 
  margin: 0 auto;
}

.columna img {
  width: 80px; /* O el tamaño que prefieras para tus iconos */
  height: auto;
  margin-bottom: 15px;
}

.columna {
  flex: 1; 
  min-width: 300px; 
  text-align: center;
  font-family:"Raleway", sans-serif;
}

.imagen-boda {
  width: 100%;      
  height: 250px;     
  object-fit: cover; 
  border-radius: 15px;
  margin-bottom: 20px;
  display: block;
}

.boton-confirmar, .boton-llegar {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #054a91; 
  color: white;
  text-decoration: none;
  border-radius: 5px;
 
}

.boton-confirmar:hover, .boton-llegar {
  background-color: #dbe4ee;
  color: #054a91;
   border: 1px solid var(--card-border, #C1C1C1); 
    border-radius: 8px; 
    box-shadow: 0 2px 5px var(--shadow, rgba(0, 0, 0, 0.08));
}

/* Carusel */ 

.seccion-galeria {
  padding: 60px 20px;
  text-align: center;
  background-color: #fff;
}

/* Tamaño del Carrusel */
.swiper {
  margin-top: 30px;
  width: 100%;
  max-width: 90%;
  height: 500px; 
  padding-bottom: 50px; 
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border: 10px solid rgba(0, 0, 0,0.1);
  box-sizing: border-box;
}

.swiper-pagination-bullet-active {
  bottom: 0px !important;
  background: #054a91;
}

/*Fiesta*/

.seccion-fiesta {
  padding: 80px 20px;
  text-align: center;
  background-color: #dbe4ee; 
}

.seccion-fiesta h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  color: #000;
  margin-bottom: 15px;
}

.seccion-fiesta p {
  color: #444;
  margin-bottom: 40px;
}

/* Contenedor de las 3 tarjetas */
.contenedor-tarjetas {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap; 
  max-width: 1100px;
  margin: 0 auto;
}

/* Estilo de cada Tarjeta */

.tarjeta {
  background: #fff;
  border: 2px solid #C1C1C1; 
  padding: 30px 20px;
  border-radius: 8px;
  flex: 1;
  min-width: 280px;
  max-width: 350px;
  transition: transform 0.3s ease;
}

.tarjeta:hover {
  transform: translateY(-5px); /* Efecto sutil al pasar el mouse */
}

.tarjeta-icono {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.tarjeta h3 {
  font-family: "Raleway", sans-serif;
  color: #054a91;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.tarjeta p {
  font-size: 0.95rem;
  margin-bottom: 25px;
  min-height: 80px;
}

/* Botones de las tarjetas */
.boton-tarjeta {
  display: inline-block;
  padding: 10px 20px;
  background-color: #054a91;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
}

.boton-tarjeta:hover {
  background-color: #03366a;
}

/* Regalos*/

.seccion-regalos {
  padding: 100px 20px;
  text-align: center;
  background-color: #fff;
}

.seccion-regalos h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  color: #000;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.seccion-regalos p {
  font-size: 1.1rem;
  color: #444;
  max-width: 600px;
  margin: 0 auto 40px auto;
  line-height: 1.6;
}

/* Contenedor y estilo de la imagen */
.contenedor-imagen-regalo {
  margin-bottom: 40px;
}

.imagen-regalo {
  width: 120px; /* Tamaño de la cajita */
  height: auto;
  /* Filtro suave opcional para que no sea un negro tan fuerte */
  opacity: 0.8; 
}

/* Botón de Regalos */
.boton-regalos {
  display: inline-block;
  padding: 15px 40px;
  background-color: #054a91;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.boton-regalos:hover {
  background-color: #03366a;
  transform: scale(1.05); /* Efecto de crecimiento suave */
}

/* Instagram*/

.seccion-instagram {
  padding: 100px 20px;
  text-align: center;
  background-color: #f9f9f9; /* Un gris muy tenue para diferenciarla de la de regalos */
  border-top: 1px solid #C1C1C1; /* Una línea sutil para marcar el final */
  background-color: #dbe4ee;
}

.seccion-instagram h2 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  color: #000;
  margin-bottom: 20px;
}

.seccion-instagram p {
  font-size: 20px;
  color: #000;
  margin-bottom: 40px;
  margin-top: 40px;
}

.btn-instagram{
  font-size: 40px;
  color: #000;
  margin-top: 30px;
  margin-bottom: 50px;

}